.card {
    background: #fff;
    border-radius: 2px;
    height: 145px;
    width: 145px;
    /* margin: 0px; */
    /* position: relative; */
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
    height: 100%;
    overflow: hidden;
  }
  
  .card > .img-container > img {
    width: 94%;
    height: 94%;
    position: relative;
    top: 5px;
    left: 5px;
  }